@model PagedList.IPagedList<MvcPagedList.Models.Rkxx>
@using PagedList.Mvc;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                单号
            </th>
            <th>
                日期
            </th>
            <th>
               商品名称
            </th>
            <th>
                数量
            </th>
            <th>
                供货商
            </th>
            <th>
                经办人
            </th>
            <th>
                仓库
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.单号)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.日期)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.商品名称)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.数量)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.供货商)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.经办人)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.仓库)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idzz }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idzz }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idzz })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</body>
</html>
