@model PagedList.StaticPagedList<Rkxx>
@using PagedList;
@using PagedList.Mvc;
@using MvcPagedList.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/weui/style/weui.css" />
    <link rel="stylesheet" href="~/weui/style/weui2.css" />
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <title>Paged</title>
</head>
<body>
    <div>
        <table class="weui-table weui-border-tb">
            <tr>
                <th>单号</th><th>日期</th><th>商品名称</th><th>数量</th>
                <th>供货商</th>
                <th>经办人</th>
                <th>仓库</th>
            </tr>
                @foreach (var item in Model) {
                 <tr>
                    <td>@Html.DisplayFor(modelItem => item.单号)</td>
            <td>
                @Html.DisplayFor(modelItem => item.日期)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.商品名称)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.数量)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.供货商)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.经办人)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.仓库)
            </td>

                     </tr>
                 }
        
        </table>
    </div>
    <div style="margin:0 auto;text-align:center;">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Paged", new { page = page }))
        <p>每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页</p>
    </div>
</body>
</html>
